.search__background{
    background-image: url('/src/images/Switzerland/Switzerland.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}